/*Some tab pane trifles*/
.tab .tab-close-button {
    -fx-background-color: whitesmoke;
}

.tab .tab-close-button:hover {
    -fx-background-color: red;
}

.tab-pane .glyph-icon {
    -fx-fill: #e0e0e0;
}

.button .glyph-icon {
    /*-fx-fill: black;*/
}

.menu-bar .menu-item .glyph-icon {
    -fx-fill: white;
}

.context-menu .menu-item .glyph-icon {
    -fx-fill: white;
}

.text-field .langSelectorControl {
    -fx-fill: white;
}

.text-field:focused .langSelectorControl {
    -fx-fill: black;
}

.selectable-label:focused {
    -fx-text-fill: white;
}

/*
.table-view .table-row-cell:empty {
    -fx-opacity: 0;
}

.table-view {
    !*-fx-background-color: white;*!
}*/

.split-pane > .split-pane-divider {
    -fx-background-color: #424242;
    -fx-border-color: #424242;
    -fx-pref-width: 4;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-background-insets: 0, 0 1 0 1;
    -fx-border-width: 0 1 0 1;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-insets: 0, 1 0 1 0;
    -fx-border-width: 1 0 1 0;
}
.split-pane > .split-pane-divider:hover {
    -fx-background-color: #6f6e6e;
    -fx-border-color: #6f6e6e;
}