/*Some tab pane trifles*/
.tab .tab-close-button {
    -fx-background-color: whitesmoke;
}

.tab .tab-close-button:hover {
    -fx-background-color: red;
}

.tab-pane .glyph-icon {
    -fx-fill: #e0e0e0;
}

.button .glyph-icon {
    /*-fx-fill: black;*/
}

.menu-bar .menu-item .glyph-icon {
    -fx-fill: white;
}

.context-menu .menu-item .glyph-icon {
    -fx-fill: white;
}

.text-field .langSelectorControl {
    -fx-fill: white;
}

.text-field:focused .langSelectorControl {
    -fx-fill: black;
}

.selectable-label:focused {
    -fx-text-fill: white;
}

/*
.table-view .table-row-cell:empty {
    -fx-opacity: 0;
}

.table-view {
    !*-fx-background-color: white;*!
}*/
