* {
    -fx-light-text-color: rgba(255, 255, 255, 0.7);
    -primary-color: #333436;
    -primary-variant-color: #282828;
    -secondary-color: #02ABF5;
    -secondary-variant-color: #005fa3;
    -background-color: #282828;
    -surface-color: #2b2b2b;
    -error-color: #B00020;
    -on-primary-color: -fx-light-text-color;
    -on-secondary-color: -fx-light-text-color;
    -on-background-color: #eaeaea;
    -on-surface-color: -fx-light-text-color;
    -on-error-color: #FFFFFF;
}

#add-button {
    -fx-background-radius:  5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: #242424;
}

#add-button:focused {
    -fx-border-color: transparent;
    -fx-border-style: solid;
}

#add-button:focused:hover {
    -fx-border-color: lightgray;
    -fx-border-width: 2px;
}

.alertDialog .button {
    -fx-padding: 5;
}

.tile-box {
    -fx-border-radius: 0;
    -fx-background-radius: 0;

    /*-fx-background-radius: 0 5 0 5;*/
    /*-fx-border-radius: 0 5 0 5;*/
    -fx-border-width: 0.5; /* 1.5 */
}

.tile-box:hover {
    -fx-border-color: rgb(133, 133, 133);
}

.tile-box:pressed {
    -fx-background-color: rgb(102, 102, 102);
}

.tab-control {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.tab-control:hover {
    -fx-background-color: #4a4a4a;
}

.tab-control:selected, .tab-control:selected:hover {
    -fx-background-color: #282828;
}

.tab-box .button:hover, .tab-box .button:focused {
    -fx-border-color: transparent;
}

.overlay-box {
    -fx-effect: -drop-shadow-3;
}

.overlay-box .title-bar {
    -fx-padding: 5;
    -fx-background-color: #343333;
    -fx-background-radius: 5 5 0 0;
}

.overlay-box .content {
    /*-fx-background-radius: 0 0 5 5;*/
}