.google-books-import-form .text-field {
    -fx-padding: 5 10 5 5;
}

.google-book-details-pane {
    -fx-padding: 10;
}

.google-book-details-pane .description-area {
    -fx-border-color: #6e6e6e;
    -fx-padding: 2px;
}

.google-book-details-pane .description-area .markdown-normal-flow {
    -fx-text-alignment: justify;
}

.google-book-details-pane .header-area .label {
    -fx-font-size: 17px;
}

.google-book-details-pane .info-panel .label {
    -fx-font-size: 15px;
}

.google-book-details-pane .property-mark-label {
    -fx-font-weight: bold;
}

.google-book-details-pane .header-area .main-header-area {
    -fx-padding: 5;
}

.google-book-details-pane .not-for-sale-place-holder {
    -fx-font-weight: bold;
}

.google-book-details-pane .hyperlink {
    -fx-padding: 0;
    -fx-font-weight: bold;
}

.google-book-tile {
    -fx-background-color: #3b3b3b;
    -fx-padding: 10;
    -fx-border-width: 0.3;
    -fx-border-color: #999999;
}


.google-book-tile:hover {
    -fx-background-color: #565656;
}

.google-book-tile .tile-title {
    -fx-font-weight: bold;
}

.google-book-tile .title-label {
    -fx-font-size: 25px;
}

.google-book-tile .sub-title-label {
    -fx-font-size: 20px;
}

.google-book-tile .authors-label {
    -fx-font-size: 17px;
    -fx-font-style: italic;
}

.google-books-import-view .google-books-import-btn {
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
}