.login-form {
    -fx-background-image: url("/com/dansoftware/boomega/image/backgrounds/background-dark.jpg");
    -fx-background-size: stretch;
}


.login-box {
    -fx-background-color: #252525;
    -fx-effect: dropshadow(three-pass-box, #282828, 10.0, 0, 0, 0);
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

.login-box .button {
    -fx-background-color: #1c1c1c;
}

.login-box .button:default {
    -fx-background-color: #0078D7;
}

.login-box .source-adder {
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

.login-box .header * {
    -fx-text-fill: #d6d5d5;
    -fx-font-family: "JetBrains Mono Bold";
    -fx-font-size: 35px;
}

.login-box .header .logo {
    -fx-image: url("/com/dansoftware/boomega/image/logo/bookshelf_64px.png");
}