/**********************************************************************
 * Preview styles
 **********************************************************************
*/

/* The MDFXNode styles */

* {
    -mdfx-font-color: white;
    -mdfx-border-color-1: #888;

    -mdfx-bg-color-1: #484848;
    -mdfx-bg-color-2: #3c3c3c;
    -mdfx-bg-color-3: #303030;

    -mdfx-link-color: #0e80d4;

    -mdfx-bq-color-border: #4f91d7;
    -mdfx-bq-color-background: rgba(231, 231, 231, 0.05);
}

.markdown-italic {
    -fx-font-style: italic;
}
.markdown-bold {
    -fx-font-weight: bold;
}

.markdown-text {
    -fx-font-family: "Jetbrains Mono";
}

.markdown-link-hover {
    -fx-underline: true;
}

.markdown-strikethrough {
    -fx-strikethrough: true;
}

.markdown-preview-area .mdfx-node {
    -fx-padding: 5;
}

/**********************************************************************
 * Editor styles
 **********************************************************************
*/

.markdown-edit-area .code-area {
    -fx-background-color: #232425;
    -fx-padding: 5;
}

.markdown-edit-area * {
    -fx-highlight-fill: #214283;
}

.markdown-edit-area .caret {
    -fx-stroke: whitesmoke;
}

/* https://github.com/FXMisc/RichTextFX/issues/737 */

.markdown-edit-area .styled-text-area .text {
    -fx-font-family: "Jetbrains Mono";
    -fx-font-size: 15px;
    -fx-fill: #A9B7C6;
}

/**********************************************************************
 * Toolbar styles
 **********************************************************************
*/

.markdown-editor-toolbar .toggle-button, .markdown-editor-toolbar .button {
    -fx-padding: 1;
}

.markdown-editor-toolbar .toggle-button > .glyph-icon, .markdown-editor-toolbar .button > .glyph-icon {
    -fx-fill: white;
}