.record-add-form .formsfx-group {
    -fx-border-color: transparent;
}

.record-add-form .text-field .right-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.record-add-form .text-area {
}