* {
    -primary-color: #e5e5e5;
    -primary-variant-color: #9f9f9f;
    -secondary-color: #6300ff;
    -secondary-variant-color: #1e005f;
    -background-color: #FFFFFF;
    -surface-color: #FFFFFF;
    -error-color: #B00020;
    -on-primary-color: black;
    -on-secondary-color: #FFFFFF;
    -on-background-color: #000000;
    -on-surface-color: #000000;
    -on-error-color: #FFFFFF;
}

.alertDialog .button {
    -fx-padding: 5;
}

#add-button {
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}

#add-button:focused {
    -fx-border-color: transparent;
    -fx-border-style: solid;
}

#add-button:focused:hover {
    -fx-border-color: gray;
    -fx-border-width: 2px;
}

.tile-box {
    -fx-border-color: transparent;
    -fx-border-width: 2;

    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #e3e3e3;
    -fx-effect: null;
    -fx-cursor: NORMAL;
}

.tile-box:hover {
    -fx-border-color: #7a7a7a;
}

.tile-box:pressed {
    -fx-border-color: #999999;
    -fx-background-color: #999999;
}

.tab-control {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.tab-control:hover {
    -fx-background-color: #cfcfcf;
}

.tab-control:selected, .tab-control:selected:hover {
    -fx-background-color: #FFFFFF;
}

.tab-box .button:hover, .tab-box .button:focused {
    -fx-border-color: transparent;
}

.overlay-box {
    -fx-effect: -drop-shadow-3;
}

.overlay-box .title-bar {
    -fx-padding: 5;
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 5 5 0 0;
}

.overlay-box .content {
    /*-fx-background-radius: 0 0 5 5;*/
}