.tab .tab-close-button:hover {
    -fx-background-color: red;
}

.tab-pane .glyph-icon {
    /*-fx-fill: #e0e0e0;*/
}

.button .glyph-icon {
    -fx-fill: black;
}

.button:default .glyph-icon {
    -fx-fill: white;
}

.text-field .langSelectorControl {
    -fx-fill: black;
}

/*
.table-view .table-row-cell:empty {
    -fx-opacity: 0;
}

.table-view {
    -fx-background-color: white;
}*/
