.google-books-import-form .text-field {
    -fx-padding: 5 10 5 5;
}

.google-book-details-pane {
    -fx-padding: 10;
}

.google-book-details-pane .description-area {
    -fx-border-color: gray;
    -fx-padding: 2px;
}

.google-book-details-pane .description-area .markdown-normal-flow {
    -fx-text-alignment: justify;
}

.google-book-details-pane .header-area .label {
    -fx-font-size: 17px;
}

.google-book-details-pane .info-panel .label {
    -fx-font-size: 16px;
}

.google-book-details-pane .property-mark-label {
    -fx-font-weight: bold;
}

.google-book-details-pane .header-area .main-header-area {
    -fx-padding: 5;
}

.google-book-details-pane .hyperlink {
    -fx-padding: 0;
}

.google-books-import-view .google-books-import-btn {
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
}