.notification-node {
    -fx-background-color: #e5e5e5;
    -fx-border-color: #565656;
    -fx-border-width: 0.5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 10;
}

.notification-node .glyph-icon {
    -fx-fill: #565656;
}

.notification-node .content-panel {
    -fx-padding: 0 25 0 0;
}

.notification-node .close-btn {
}

.notification-node .content-panel .title {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.notification-node .content-panel .message {
    -fx-font-size: 10px;
}