.pluginAdderPane {
    -fx-min-width: 0;
}

.pluginAdderPane .draggingArea {
    -fx-cursor: hand;
    -fx-stroke-dash-array: 12 12 12 2;
    -fx-stroke-dash-offset: 1;
    -fx-stroke-line-cap: butt;
    -fx-stroke-width: 5px;
    -fx-stroke: gray;
}

.pluginAdderPane .draggingArea:hover {
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 10;
}

.pluginAdderPane .draggingLabel {
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-size: 17;
    -fx-max-width: 490;
    -fx-max-height: 390;
}

.restartWarningLabel {
    -fx-background-color: lightgray;
    -fx-text-fill: red;
}