.record-add-form .formsfx-group {
    -fx-border-color: transparent;
}

.record-add-form .text-field .right-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.record-add-form .text-area {
}

.notes-title-bar {
    -fx-background-color: #d9d9d9;
}

.record-add-button {
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
}

.record-add-view .split-pane:vertical > .split-pane-divider,
.record-add-view .split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #acacac;
    -fx-padding: 0 1 0 0;
}

.record-add-view .html-editor {
    -fx-box-border: transparent;
}