.record-editor .remove-button {
    -fx-background-color: #b70202;
    -fx-font-weight: bold;
    -fx-text-fill: #dddddd;
}

.google-book-dock .remove-button .glyph-icon {
    -fx-fill: red;
}

.google-book-dock .remove-button:hover, .record-editor .remove-button:hover {
    -fx-border-color: #323232;
}

.google-book-dock .place-holder-label, .record-editor .place-holder-label {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-alignment: justify;
    -fx-wrap-text: true;
}

.record-base-editor .formsfx-group {
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.records-view .tab-pane {
    -fx-tab-min-height: 2.2em;
    -fx-tab-max-height: 2.2em;
}

.records-view .tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.records-view .html-editor {
    -fx-box-border: transparent;
}

.record-find-control .text-field {
    -fx-padding: 5px;
}

.record-find-control .error-label {
    -fx-text-fill: red;
}

.record-table-place-holder .image-view {
    -fx-image: url("/com/dansoftware/boomega/image/logo/bookshelf_128_black.png");
    -fx-opacity: 0.35;
}

.record-table-place-holder .label {
    -fx-opacity: 0.35;
    -fx-font-size: 18;
}