.google-book-dock .remove-button, .record-editor .remove-button {
    -fx-background-color: #b70202;
    -fx-font-weight: bold;
    -fx-text-fill: #dddddd;
}

.google-book-dock .remove-button .glyph-icon, .record-editor .remove-button .glyph-icon {
    -fx-fill: #f3f3f3;
}

.google-book-dock .remove-button:hover, .record-editor .remove-button:hover {
    -fx-border-color: #323232;
}

.google-book-dock .place-holder-label, .record-editor .place-holder-label {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-alignment: justify;
    -fx-wrap-text: true;
}

.record-base-editor .formsfx-group {
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.records-view .tab-pane {
    -fx-tab-min-height: 2.2em;
    -fx-tab-max-height: 2.2em;
}

.records-view .tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.records-view .split-pane:vertical > .split-pane-divider,
.records-view.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #acacac;
    -fx-padding: 0 1 0 0;
}
