/* STYLES OF THE WEB-BROWSER */
.browser {

}

.browser-toolbar {
    -fx-padding: 0.5px;
    -fx-background-color: #3e3e3e;
    -fx-border-width: 0.45 0 0 0;
    -fx-border-color: whitesmoke;
}

.browser-toolbar .browser-previous-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/arrow_prev_white.png);
}

.browser-toolbar .browser-forward-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/arrow_forw_white.png);
}

.browser-toolbar .browser-url-indicator-field {
    -fx-font-size: 16px;
    -fx-padding: 5px;
}

.browser-toolbar .browser-url-copier-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/copy_to_clipboard_white.png);
}

.browser-toolbar .browser-default-opener-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/open_def_browser_white.png);
}

.browser-toolbar .browser-reload-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/reload_white.png);
}

.browser-place-holder {
}

.browser-place-holder .center-image-view {
    -fx-image: url(/com/dansoftware/libraryapp/image/util/empty_white.png);
    -fx-opacity: 0.7;
}

.browser-place-holder .label {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

/* Document Viewer styles */
.document-viewer-place-holder .center-image-view {
    -fx-image: url(/com/dansoftware/libraryapp/image/util/empty_white.png);
    -fx-opacity: 0.5;
}

.document-viewer-place-holder .label {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

/******* Dock-styles *******/
/* Dock-frame */
.border-button {
    -fx-background-color: transparent;
}

.border-button :selected {
    -fx-background-color: #262626;
}

.border-button .root-btn {
    -fx-spacing: 10;
    -fx-padding: 0 5 0 0;
}

.border-button .label {
    -fx-font-size: 12;
}

.border-button .root-btn:hover {
    -fx-background-color: #26282a;
}

.border-edge, .border-toolbar {
    -fx-background-color: #323232;
    -fx-padding: 0;
    -fx-min-width: 20;
}

.border-edge {
    -fx-border-color: #323232;
}

.border-edge :vertical {
}

.border-edge :horizontal {
    -fx-padding: 0 20 0 20;
}

/* Dock-node*/
.dock-node {
    /*-fx-border-color: #D1D1D1;*/
}

.dock-title-bar {
    /*-fx-background-color: #F4F4F4;*/
    -fx-background-color: #3B4754;
    -fx-pref-height: 28px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #323232;
    -fx-padding: 0 4px 0 4px;
}

.dock-title-bar .label {
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.dock-title-bar .button:hover {
    -fx-background-color: #4C5052;
}

.dock-title-bar .options-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/dock/options_white.png);
    -fx-padding: 2px;
}

.dock-title-bar .close-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/dock/hide_white.png);
    -fx-padding: 2px;
}

.dock-options-menu {
    -fx-padding: 4 0 4 0;
}

.dock-options-menu .menu-item {
    -fx-padding: 3;
}

.dock-options-menu .menu-item .label {
    -fx-font-size: 12px;
}

.window {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/view_mode/window_white.png);
}

.float {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/view_mode/float_white.png);
}

.pinned {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/view_mode/docked_white.png);
}

.bottom-right {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/pos/bottom_right_white.png);
}

.bottom-left {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/pos/bottom_left_white.png);
}

.left-top {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/pos/top_left_white.png);
}

.left-bottom {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/pos/bottom_left_white.png);
}

.right-top {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/pos/top_right_white.png);
}

.right-bottom {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/pos/bottom_right_white.png);
}

.top-right {
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/pos/top_right_white.png);
}

.top-left{
    -fx-image: url(/com/dansoftware/libraryapp/image/dock/pos/top_left_white.png);
}


/*Some tab pane trifles*/
.tab .tab-close-button {
    -fx-background-color: whitesmoke;
}
.tab .tab-close-button:hover {
    -fx-background-color: red;
}

.login-box {
    -fx-background-color: #3c3c40;
}

/*Workbech*/
* {
    -fx-light-text-color: rgba(100%,100%,100%,0.7);

    -primary-color: #2c3649;
    -primary-variant-color: #293244;
    -secondary-color: #02ABF5;
    -secondary-variant-color: #005fa3;
    -background-color: #202530;
    -surface-color: #2e3540;
    -error-color: #B00020;
    -on-primary-color: -fx-light-text-color;
    -on-secondary-color: -fx-light-text-color;
    -on-background-color: #02ABF5;
    -on-surface-color: -fx-light-text-color;
    -on-error-color: #FFFFFF;
}

/*DBManagerTable*/
.state-circle-error {
    -fx-fill: #B00020;
}

.state-circle-ok {
    -fx-fill: transparent;
}