/* STYLES OF THE WEB-BROWSER */
.browser {

}

.browser-toolbar {
    -fx-background-color: whitesmoke;
}

.browser-toolbar .browser-previous-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/arrow_prev_black.png);
}

.browser-toolbar .browser-forward-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/arrow_forw_black.png);
}

.browser-toolbar .browser-url-indicator-field {
    -fx-font-size: 16px;
    -fx-padding: 5px;
}

.browser-toolbar .browser-url-copier-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/copy_to_clipboard_black.png);
}

.browser-toolbar .browser-default-opener-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/open_def_browser_black.png);
}

.browser-toolbar .browser-reload-btn {
    -fx-graphic: url(/com/dansoftware/libraryapp/image/browser/reload_black.png);
}

.browser-place-holder {
}

.browser-place-holder .center-image-view {
    -fx-image: url(/com/dansoftware/libraryapp/image/util/empty_black.png);
    -fx-opacity: 0.7;
}

.browser-place-holder .label {
    -fx-text-fill: #2f2e2e;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

/* Document Viewer styles */
.document-viewer-place-holder .center-image-view {
    -fx-image: url(/com/dansoftware/libraryapp/image/util/empty_black.png);
    -fx-opacity: 0.5;
}

.document-viewer-place-holder .label {
    -fx-text-fill: #2f2e2e;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

/*Some tab pane trifles*/
.tab .tab-close-button:hover {
    -fx-background-color: red;
}

/** LOGIN VIEW **/

.login-form {
    -fx-background-image: url("/com/dansoftware/libraryapp/image/login/background-light.jpg");
    -fx-background-size: stretch;
}

.login-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #000000, 10.0, 0, 0, 0);
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

.source-adder {
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

.login-box .header .logo {
    -fx-image: url("/com/dansoftware/libraryapp/image/login/form-header_light.png");
}

/**Workbench*/
* {
    -primary-color: #0078D7;
    -primary-variant-color: #003d71;
    -secondary-color: #6300ff;
    -secondary-variant-color: #1e005f;
    -background-color: #FFFFFF;
    -surface-color: #FFFFFF;
    -error-color: #B00020;
    -on-primary-color: #FFFFFF;
    -on-secondary-color: #FFFFFF;
    -on-background-color: #000000;
    -on-surface-color: #000000;
    -on-error-color: #FFFFFF;
}

/*DBManagerTable*/
.state-indicator-file-not-exists {
    -fx-fill: #B00020;
}

.state-indicator-used {
    -fx-fill: green;
}

/**
UPDATE VIEW
 */
.update-view-available-label {
    -fx-font-size: 32px;
}

/** MDFXNode */
* {
    -mdfx-font-color: black;
    -mdfx-border-color-1: #888;

    -mdfx-bg-color-1: #ccc;
    -mdfx-bg-color-2: #ddd;
    -mdfx-bg-color-3: #eee;
}

.markdown-text {
    -fx-font-family: ARIAL;
}

.markdown-italic {
    -fx-font-style: italic;
}

.markdown-bold {
    -fx-font-weight: bold;
}

/*InformationView*/
.info-logo-view {
    -fx-image: url("/com/dansoftware/libraryapp/image/logo/bookshelf_32.png");
}

/*
custom
 */
.button .glyph-icon {
    -fx-fill: black;
}