@import url("/com/dansoftware/boomega/gui/theme/base.css");

.root {
    -fx-background-image: url(/com/dansoftware/boomega/image/backgrounds/preloader-background.png);
    -fx-background-repeat: stretch;
    /*-fx-border-color: #1f1f1f;*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .26), 20, 0.19, -1, 6);
    -fx-pref-width: 739px;
    -fx-pref-height: 453px;
}

.center-logo {
    -fx-image: url("/com/dansoftware/boomega/image/logo/bookshelf_256.png");
    -fx-padding: 0 10 0 0;
}

.preloader-view .message-label {
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-text-fill: #dedede;
}

.logo-label {
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 50;
    -fx-text-fill: white;
}