@import url("/com/dansoftware/boomega/gui/theme/base.css");

.root {
    -fx-background-image: url(/com/dansoftware/boomega/image/backgrounds/preloader-background.png);
    -fx-background-position: center;
    /*-fx-border-color: #1f1f1f;*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .26), 50, 0.50, -1, 6);
    -fx-pref-width: 739px;
    -fx-pref-height: 453px;
}

.center-logo {
    -fx-image: url("/com/dansoftware/boomega/image/logo/bookshelf_128.png");
    -fx-padding: 0 10 0 0;
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, .26), 50, 0.50, -1, 6);
}

.preloader-view .message-label {
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: "Poppins";
    -fx-text-fill: #dedede;
    -fx-padding: 10;
}

.logo-label {
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 6em;
    -fx-text-fill: white;
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);
}

.progress-bar > .bar {
    -fx-background-color: #0078d7;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0.25em;
}

.progress-bar > .track {
    -fx-background-color: #ccc;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
