/* STYLES OF THE WEB-BROWSER */
.browser {

}

.browser-toolbar {
    -fx-background-color: whitesmoke;
}

.browser-toolbar .browser-previous-btn {

}

.browser-toolbar .browser-forward-btn {

}

.browser-toolbar .browser-url-indicator-field {
    -fx-font-size: 16px;
    -fx-padding: 5px;
}

.browser-toolbar .browser-url-copier-btn {

}

.browser-toolbar .browser-default-opener-btn {

}

.browser-toolbar .browser-reload-btn {

}

/*Some tab pane trifles*/
.tab .tab-close-button:hover {
    -fx-background-color: red;
}