* {
    -fx-light-text-color: rgba(255, 255, 255, 0.7);
    -primary-color: #2c3649;
    -primary-variant-color: #293244;
    -secondary-color: #02ABF5;
    -secondary-variant-color: #005fa3;
    -background-color: #202530;
    -surface-color: #2e3540;
    -error-color: #B00020;
    -on-primary-color: -fx-light-text-color;
    -on-secondary-color: -fx-light-text-color;
    -on-background-color: #eaeaea;
    -on-surface-color: -fx-light-text-color;
    -on-error-color: #FFFFFF;
}

#add-button {
    -fx-background-radius:  5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: #242424;
}

#add-button:focused {
    -fx-border-color: transparent;
    -fx-border-style: solid;
}

#add-button:focused:hover {
    -fx-border-color: lightgray;
    -fx-border-width: 2px;
}

.alertDialog .button {
    -fx-padding: 5;
}

.tile-box {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.tab-control:selected {
    -fx-background-color: #202530;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.tab-box .button:hover, .tab-box .button:focused {
    -fx-border-color: transparent;
}

.overlay-box {
    -fx-border-color: gray;
    -fx-border-width: 0.5;
}

.overlay-box .title-bar {
    -fx-padding: 5;
    -fx-background-color: #2c3649;
}