* {
    -primary-color: #e5e5e5;
    -primary-variant-color: #9f9f9f;
    -secondary-color: #6300ff;
    -secondary-variant-color: #1e005f;
    -background-color: #FFFFFF;
    -surface-color: #FFFFFF;
    -error-color: #B00020;
    -on-primary-color: black;
    -on-secondary-color: #FFFFFF;
    -on-background-color: #000000;
    -on-surface-color: #000000;
    -on-error-color: #FFFFFF;
}

.alertDialog .button {
    -fx-padding: 5;
}

#add-button {
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}

#add-button:focused {
    -fx-border-color: transparent;
    -fx-border-style: solid;
}

#add-button:focused:hover {
    -fx-border-color: gray;
    -fx-border-width: 2px;
}

.tile-box {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.tab-control:selected {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.tab-box .button:hover, .tab-box .button:focused {
    -fx-border-color: transparent;
}