.google-books-table .table-row-cell:filled .table-cell {
    -fx-border-color: #393939;
    -fx-border-width: 0 0 0.25 0;
}

.google-books-import-form .text-field {
    -fx-padding: 5 10 5 5;
}

.google-books-import-form .languageSelector .text-field {
    -right-button-visible: false;
}

.google-book-details-pane {
    -fx-padding: 10;
}

.google-book-details-pane .header-area .label {
    -fx-font-size: 17px;
}

.google-book-details-pane .info-panel .label {
    -fx-font-size: 15px;
}

.google-book-details-pane .property-mark-label {
    -fx-font-weight: bold;
}

.google-book-details-pane .header-area .main-header-area {
    -fx-padding: 5;
}

.google-book-details-title-bar {
    -fx-padding: 5;
    -fx-background-color: #d9d9d9;
}

.google-book-details-pane .not-for-sale-place-holder {
    -fx-font-weight: bold;
}

.google-book-details-pane .hyperlink {
    -fx-padding: 0;
    -fx-font-weight: bold;
}

.google-books-joiner-panel .title-bar {
    -fx-padding: 5;
    -fx-background-color: #d9d9d9;
}