.root {
    -fx-background-image: url(/com/dansoftware/libraryapp/image/info/material-background.jpg);
    -fx-border-color: whitesmoke;
    -fx-border-width: 0.5px;
}

.company-logo {
    -fx-border-color: whitesmoke;
}

.copy-btn {
    -fx-background-color: #353841;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-color: whitesmoke;
}

.copy-btn:hover {
    -fx-background-color: #656976;
}

.copy-btn:pressed {
    -fx-background-color: #131313;
}